@import './../../node_modules/reset-css';
:global body {
  background: red;
}
:global p {
  color: $white;
  font-family: $fontDefault;
  font-size: $fontSizeDefault;
  line-height: $fontSizeDefault * 1.3;
  color: $defaultFontColor;
}
:global a {
  color: $white;
}
:global button a {
  color: $black;
}
:global input {
  padding: 10px;
  width: 100%;
  margin: 0;
  font-size: 16px;
  background-color: #f7f7f7;
}
