.container {

}
.searchBox {
  max-width: 80%;
  padding-top: 40px;
  margin: 0 auto 20px auto;
}
.filters {
  min-height: 50px;
  margin-bottom: 40px;
  background: #030303;
}
.gifs {
  min-height: 500px;
  background: #010101;
  padding: $defaultPadding;
}
